<%= render "layouts/left" %>
<div class="mid">
<ul class="list1 clearfix">
  <li>
    <div class="list1img">
    <%= link_to image_tag("image01.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  <li>
    <div class="list1img">
    <%= link_to image_tag("image02.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu ">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  <li>
    <div class="list1img">
    <%= link_to image_tag("image03.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  <li>
    <div class="list1img">
    <%= link_to image_tag("image01.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  </ul>
  <ul class="list1 clearfix">
  <li>
    <div class="list1img">
    <%= link_to image_tag("image02.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  <li>
    <div class="list1img">
    <%= link_to image_tag("image03.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  <li>
    <div class="list1img">
    <%= link_to image_tag("image01.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  <li>
    <div class="list1img">
    <%= link_to image_tag("image03.jpg"), "#" %>
    </div>
    <div class="list1a1">
    <a href="#" title="Phụ Nữ Đâu Chỉ Có Tình Yêu">Phụ Nữ Đâu Chỉ Có Tình Yêu</a>
    </div>

    <div class="priceold">73,000 đ</div>
    <div class="phathanh">Phát hành: <b>27-12-2017</b></div>
    <br>
    <p align="center"><a href="#" class="buy1 listprocart">Đặt hàng</a></p>
  </li>
  </ul>
</div>
