<% provide :title, t(".sessions.login") %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 centered">
      <h2 style="text-align: center; padding-bottom: 20px; color: red;"><%= t "sessions.login" %></h2>

       <%= form_for(:session, url: login_path) do |f| %>

        <div class="form-group">
          <%= f.label :email, t("sessions.email") %>
          <%= f.text_field :email, class: "form-control", placeholder: t("sessions.email") %>

          <%= f.label :password, t("seesions.pass") %>
          <%= f.password_field :password, class: "form-control", placeholder: t("sessions.password") %>
        </div>

        <%= f.submit t("sessions.login"), class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>
  </div>
</div>
