<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
       <%= t("users.form.error_messages") %>
          <%= @author.errors.count %> <%= t("users.form.error") %>.
      </div>
      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :author_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
