<p id="notice"><%= notice %></p>

<p>
  <strong><%= t "users.name" %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t "users.email" %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t "users.phone" %>:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong><%= t "users.address" %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= t "users.role" %>:</strong>
  <% if @user.role == 1%>
    <td><%= t "users.role_admin"  %></td>
  <% else %>
    <td><%= t "users.role_user"  %></td>
  <% end %>
</p>

<%= link_to t("users.edit1"), edit_user_path(@user) %> |
<%= link_to t("users.back"), root_path %>
