<p id="notice"><%= notice %></p>
<h1><%= t "orders.create_order" %></h1>

<table class="table table-hover" style="text-align: center;" >
  <thead>
    <tr>
      <th><%= t "orders.code_order" %></th>
      <th><%= t "users.name" %></th>
      <th><%= t "users.phone" %></th>
      <th><%= t "users.address" %></th>
      <th><%= t "users.email" %></th>
      <th><%= t "orders.product" %></th>
      <th><%= t "orders.amount" %></th>
      <th><%= t "orders.total_price" %></th>
      <th><%= t "orders.date" %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @order.id %></td>
      <td><%= @order.name %></td>
      <td><%= @order.phone %></td>
      <td><%= @order.address %></td>
      <td><%= @order.email %></td>
      <td>
        <% @join_book_order.where(order_id: @order.id).each do |j| %>
          <%= j.amount %> x <%= j.book.name %>. T.tiền: <%= j.book.price * j.amount%> <%= t "static_pages.vnd" %><br/>
        <% end %>
      </td>
      <td><%= @order.all_product %></td>
      <td><%= @order.all_price %>  <%= t "static_pages.vnd" %></td>
      <td><%= @order.created_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to t("users.edit1"), edit_order_path(@order), class: "btn btn-primary"%>
<%= link_to t("users.back"), orders_path, class: "btn btn-primary" %>
