<p id="notice"><%= notice %></p>

<h1><%= t "books.product" %></h1>

<%= link_to t("books.add_book"), new_book_path, class: "btn btn-primary ",
  style: "float: right; magin-right: 20px;" %>
<div class="search", style="padding-bottom: 5px">
  <%= search_form_for @q, remote: true do |f| %>
    <%= f.label t "users.name" %>
    <%= f.text_field :name_cont %>
    <%= f.submit %>
  <% end %>
</div>

<div id="result">
  <%= render "index", user: @book %>
</div>
