<h1 style="text-align: center; color: red">GIO HANG</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Hinh anh</th>
      <th>Ten</th>
      <th>Gia</th>
      <th>So luong</th>
      <th>Thanh tien</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.book_carts.each do |cart| %>
      <tr>
        <td><%= link_to image_tag(cart.book.picture), book_path(id: cart.book.id) %></td>
        <td><%= cart.book.name %></td>
        <td><%= cart.book.price %> vnđ</td>
        <td><%= cart.quantity %></td>
        <td><%= cart.total_price %></td>
        <td><%= link_to "Destroy", cart, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
  <td><%= link_to "Xoa gio hang", @cart, method: :delete, data: { confirm: "Are you sure?" } %></td>

  <tr>
    <td colspan="4">Tong tien</td>
    <td><%= @cart.total_price %></td>
    <td><%= button_to "Thanh toan", new_order_path, method: :get %></td>
  </tr>
</table>
