<div class="left">
  <div class="list-group">
    <span class="list-group-item"><h4><%=t(".category")%></h4></span>
    <a href="#" class="list-group-item"><%=t(".literature")%></a>
    <a href="#" class="list-group-item"><%=t(".economic")%></a>
    <a href="#" class="list-group-item"><%=t(".comic")%></a>
    <a href="#" class="list-group-item"><%=t(".math")%></a>
    <a href="#" class="list-group-item"><%=t(".novel")%></a>
  </div>
</div>
<div class="mid">
  <nav class="navbar navbar-defaul">
    <div class="container-fluid">
      <div id="search">
        <%= render partial: "layouts/search" %>
      </div>
      <%= link_to image_tag("carts.png"), cart_index_path, {class: "carts"} %>
    </div>
  </nav>
<div style="clear: both;"></div>
