<%= form_with(model: book_cart, local: true) do |form| %>
  <% if book_cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_cart.errors.count, "error") %> prohibited this book_cart from being saved:</h2>

      <ul>
      <% book_cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :carts_id %>
    <%= form.number_field :cart_id, id: :book_cart_cart_id %>
  </div>

  <div class="field">
    <%= form.label :books_id %>
    <%= form.number_field :book_id, id: :book_cart_book_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
