<p id="notice"><%= notice %></p>

<h1>Book Carts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Carts</th>
      <th>Books</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_carts.each do |book_cart| %>
      <tr>
        <td><%= book_cart.cart_id %></td>
        <td><%= book_cart.book_id %></td>
        <td><%= link_to "Show", book_cart %></td>
        <td><%= link_to "Edit", edit_book_cart_path(book_cart) %></td>
        <td><%= link_to "Destroy", book_cart, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to "New Book Cart", new_book_cart_path %>
