<p id="notice"><%= notice %></p>

<p>
  <strong>Carts:</strong>
  <%= @book_cart.cart_id %>
</p>

<p>
  <strong>Books:</strong>
  <%= @book_cart.book_id %>
</p>

<%= link_to "Edit", edit_book_cart_path(@book_cart) %> |
<%= link_to "Back", book_carts_path %>
